# Adonis directory for storing tmp files
backend/tmp

# The development sqlite file
backend/database/*.mysql

# dependencies
backend/node_modules
front/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
backend/.env
front/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
